.wkode-contact-block {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;

  &__wrapper {
    width: fit-content;
    background-color: #4e4e4e;
    padding: 2rem 5rem;

    @media screen and (max-width: 768px) {
      padding: 1rem 2.5rem;
      width: 100%;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 4.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 3rem;
    min-width: fit-content;
    white-space: nowrap;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 2.4rem;
    }
  }
  &__subtitle {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__form {
    opacity: 1;
    transition: all 0.3s;
    z-index: 89;

    .wpforms-container form .wpforms-field-container {
      input,
      textarea {
        background-color: #66383e !important;
        // border: 1.8px solid #d44354 !important;
        border: 1.8px solid transparent !important;
        border-radius: 1px !important;
        color: #ffffff !important;
        font-family: "Montserrat" !important;
        font-size: 1.4rem !important;
        font-weight: 300 !important;
        margin-bottom: 1rem;
        min-width: 100% !important;
        text-transform: capitalize !important;
        &::placeholder {
          color: #e8dddd !important;
          font-family: "Montserrat" !important;
          font-size: 1.4rem !important;
          font-weight: 300 !important;
          min-width: 100% !important;
          text-transform: capitalize !important;
        }
      }
      .wpforms-field {
        padding: 5px 0 !important;
        &.wpforms-field-number,
        &.wpforms-field-phone {
          display: inline-block;
          width: 100%;
        }
        &.wpforms-field-number {
          margin-right: 2%;
        }
      }
      textarea.wpforms-field-medium.wpforms-field-required {
        border-radius: 1px !important;
        height: 70px;
        margin-bottom: 1.5rem;
      }
      .wpforms-field.wpforms-field-checkbox {
        font-size: 1.2rem !important;
        label {
          font-size: 1.2rem !important;
        }
        li.choice-1 {
          align-content: center;
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
        input {
          min-width: auto !important;
        }
        label,
        ul,
        li {
          display: inline !important;
        }
        label {
          margin-right: 7px;
        }
      }
    }
    .wpforms-submit-container {
      button {
        background-color: #9d0518 !important;
        border-color: #9d0518 !important;
        border-radius: 1px !important;
        border-width: 4px !important;
        color: #ffffff !important;
        font-family: Rubik, sans-serif !important;
        font-size: 1.5rem !important;
        font-weight: 700 !important;
        line-height: 2rem !important;
        margin-top: 3rem !important;
        overflow: hidden !important;
        padding-bottom: 1rem !important;
        padding-left: 8rem !important;
        padding-right: 8rem !important;
        padding-top: 1rem !important;
        position: relative !important;
        text-transform: uppercase !important;
        transition: all 0.3s !important;
        width: 100% !important;
        &:hover {
          background-color: transparent !important;
          --tw-text-opacity: 1 !important;
        }
      }
    }
  }
}
