.carousel-container {
  /* overflow: hidden; */
  position: relative;
}

.arrow-button {
  align-items: center;
  aspect-ratio: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 4.6rem;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4.6rem;
}

.left-arrow {
  left: 20px;
  z-index: 89;
}

.right-arrow {
  right: 20px;
  z-index: 89;
}

@media (max-width: 1000px) {
  .left-arrow {
    left: 0px;
  }

  .right-arrow {
    right: 0px;
  }
}

@media (min-width: 1600px) {
  .wkode-new-bikes__carousel {
    .wkode-new-bikes__card {
      opacity: 0.7;
      transform: scale(0.7);
      transition: all 0.1s;
      @apply mx-3;
    }
    .slick-center,
    .slick-center + .slick-active,
    .slick-active:has(+ .slick-center) {
      opacity: 1;
      transform: scale(1);
    }
  }
}
@media (min-width: 1300px) and (max-width: 1600px) {
  .carousel.slick-slider {
    @apply container;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .carousel.slick-slider {
    @apply px-12;
  }
}

.wkode-new-bikes__card {
  @apply mx-3;
}
