*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ================scroolbar=================== */

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  transition: background-color 0.8s;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(6, 78, 59, var(--tw-bg-opacity));
} */

/* ================scroolbar=================== */

html {
  /* this defines what one rem is */
  font-size: 62.5%;
}

/* a:hover {
    color: inherit !important;
    text-decoration: none !important;
  } */
/* @apply bg-unitermi-primary-gray */
body {
  box-sizing: border-box; /* Padding and Margin are no longer part of the width and height of the element */
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @apply font-montserrat;
  //background-color: var(--lightPrimary);
  .wraper {
    overflow: hidden;
  }
}

.menu-item {
  transition: all 0.3s;
}
.wkode-maps {
  min-height: 30rem;
  iframe {
    height: 40rem;
  }
}
