.wkode-header {
  z-index: 90;

  &--desktop {
    display: none;

    @media screen and (min-width: 1278px) {
      display: block;
    }

    .nav.navbar-nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.1rem;
      font-size: 2.9rem;
      text-transform: uppercase;
    }

  }

  &--mobile {
    display: none;
    z-index: 90;

    @media screen and (max-width: 1278px) {
      display: block;
    }

    .nav.navbar-nav ul {
      display: none;
    }

    .wkode-header__nav--active {

      .nav.navbar-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.8rem;
        font-size: 2.9rem;
        text-transform: uppercase;
      }

    }
  }

  &__nav {
    @apply text-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a0242d;
    padding: 0 2.1rem;
  }

  &__logo-wrapper img{
    height: 10rem;
    width: auto;
  }
}

body {
  transition: all 0.1s ease;
  &.body-megamenu-active {
    overflow-y: hidden;
    &::before {
      background-color: #0000007d;
      content: "";
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      transition: all 0.3s;
      width: 100vw;
      z-index: 9998;
      @media (max-width: 1000px) {
        z-index: 89;
      }
    }
  }
}

.menu-item {
  a {
    position: relative;
    &:hover:after {
      width: 100%;
    }
  }
  a:after {
    background: #3a9fe9;
    bottom: -0.5rem;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transition: 200ms ease-in;
    width: 0;
  }
}
