.wkode-header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  transition: .2s;
  width: 100vw;

  &--desktop {
    height: 9.5rem;
    display: none;

    @media screen and (min-width: 729px) {
      display: block;
    }

    .nav.navbar-nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;
      font-size: 2.9rem;
      text-transform: uppercase;
    }

  }

  &--mobile {
    display: none;
    height: 6.5rem;

    @media screen and (max-width: 728px) {
      display: block;
      width: 100vw;
    }

    #wkode-header-close {
      display: none;
    }

    .wkode-header__nav--top {
      display: flex;
      position: relative;
      width: 100vw;

      #wkode-header__megamenu-btn {
        margin-left: .5rem;
        transform: scale(1.2);
      }
    }

    .wkode-header__nav--bottom {
      z-index: 9999;
      height: 100vh;
      width: 0px;
      visibility: hidden;
      transform: translateX(100vw);
      position: absolute;
      padding: 0;
      transition: .2s;
      width: 100vw;
      background: #a0242d;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 5rem 2.1rem;
      opacity: 0;

      .nav.navbar-nav ul {
        margin-top: 2.1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1.8rem;
        font-size: 2.9rem;
        text-transform: uppercase;
      }

      #wkode-header-close {
        display: block;
        position: absolute;
        top: 2.1rem;
        right: 2.1rem;
        cursor: pointer;
        transform: scale(1.5);
      }
    }

    .wkode-header__logo-wrapper img {
      height: 4rem;
    }

    .wkode-header__nav--active {
      visibility: visible;
      transform: translateX(0px);
      position: fixed;
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a0242d;
    color: #fff;
    padding: 0 2.1rem;
    height: 100%;

    & li > a {
      transition: .2s;

      &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
      }
    }
  }

  &__logo-wrapper img{
    height: 6.5rem;
    width: auto;
  }
}

body {
  transition: all 0.1s ease;

  @media screen and (max-width: 728px) {
    padding-top: 6.5rem;
  }

  @media screen and (min-width: 728px) {
    padding-top: 9.5rem;
  }

  &.body-megamenu-active {
    overflow-y: hidden;
    &::before {
      background-color: #0000007d;
      content: "";
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      transition: all 0.3s;
      width: 100vw;
      z-index: 9998;
      @media (max-width: 1000px) {
        z-index: 89;
      }
    }
  }
}