.wkode-single-new-bikes-template-block {
  &__dark-mode {
    @apply bg-wk-primary-blue;
    .wkode-single-new-bikes-template-block__title,
    h1.wkode-single-new-bikes-template__title {
      @apply text-white;
    }
    .wkode-single-new-bikes-template-block__text {
      @apply text-white;
    }
  }
  &__light-mode {
    @apply bg-wk-primary-white;
    .wkode-single-new-bikes-template-block__title,
    h1.wkode-single-new-bikes-template__title {
      @apply text-wk-primary-blue;
    }
    .wkode-single-new-bikes-template-block__text {
      @apply text-black;
    }
  }

  &__normal-direction {
    .wkode-single-new-bikes-template-block__content {
      @apply col-span-6;
    }
    .wkode-single-new-bikes-template-block__image {
      border-radius: 12px;
      @apply col-span-6;
      .wkode-single-new-bikes-template-block__img {
        border-radius: 12px;
      }
    }
  }
  &__inverted-direction {
    .wkode-single-new-bikes-template-block__content {
      @apply col-span-6 order-2 pl-12;
    }
    .wkode-single-new-bikes-template-block__image {
      border-radius: 12px;
      @apply col-span-6 col-start-1 order-1 block;
      .wkode-single-new-bikes-template-block__img {
        border-radius: 12px;
      }
    }
  }

  &__wrapper {
    .f-carousel__dots {
      bottom: 0;
      height: 3rem;
      .f-carousel__dot {
        background-color: white;
      }
    }
    @apply grid grid-cols-1 lg:grid-cols-12 py-60 gap-12 container;
  }
  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__title {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2.1rem;
    text-transform: uppercase;
  }
  &__text {
    color: #fff;
    font-size: 1.6rem;

    @apply pr-0 xl:pr-40 mb-12;
  }
  &__image {
    .f-carousel__slide {
      overflow: hidden;
    }
    max-height: 425px;
    overflow: hidden;
    position: relative;
    .f-button {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      border-radius: 50%;
      -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
      svg {
        display: none;
      }
      &.is-next {
        background-image: url("../../assets/img/svg/new-carrousel-right.svg");
      }
      &.is-prev {
        background-image: url("../../assets/img/svg/new-carrousel-left.svg");
      }
    }
    .wkode-single-new-bikes-template-block__img {
      height: auto;
      width: 100%;
    }
  }
}

.wkode-main-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

@media (max-width: 1000px) {
  .wkode-single-new-bikes-template__form {
    border-radius: 12px;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50%;
    &--hidden {
      opacity: 0;
      top: 44%;
      visibility: hidden;
    }
  }
  .wkode-header__single-new-trigger__title {
    transition: all 0.5s;
  }
  .wkode-header__single-new-trigger__arrow {
    transition: all 0.3s;
    &--inverted {
      transform: rotate(-180deg);
    }
  }
}
